name: Run Tests

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-tests:
    name: Run Tests
    uses: fwdslsh/toolkit/.github/workflows/bun-test.yml@main             
